@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

:root {
    --grey: #49566D;
    --dark-blue: #172339;
    --cream-white: #FAF8F6;
    --cream: #F3EDE7;
}

html {
    font-size: 62.5%;
}

body * {
    font-family: 'Epilogue', sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    padding: 0 16px;
}

.btn-primary {
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    border-radius: 6px;
    padding: 12px 16px;
    background-color: var(--cream-white);
    font-weight: bold;
    font-size: 1.4rem;
    transition: all .3s linear;
    cursor: pointer;
}

.btn-primary:hover {
    color: var(--cream-white);
    background-color: var(--dark-blue);
}

.heading-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pattern-main {
    position: absolute;
    max-width: 150px;
    bottom: 84px;
    left: 160px;
}

.heading-l {
    color: var(--dark-blue);
    font-size: 3.8rem;
    font-weight: 400;
    margin-top: 84px;
    margin-bottom: 32px;
    position: relative;
    line-height: 44px;
}

.heading-l span {
    font-weight: bold;
}

.main-description {
    color: var(--grey);
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 32px;
    line-height: 28px;
}

.btn-secondary {
    color: var(--cream-white);
    border: none;
    border-radius: 6px;
    padding: 15px 32px;
    background-color: var(--dark-blue);
    font-weight: bold;
    font-size: 1.8rem;
    cursor: pointer;
    margin-bottom: 55px;
}

.btn-secondary:hover {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
}

.main-hero {
    display: block;
    margin: 0 auto;
}

.main-hero-tablet, .main-hero-desktop {
    display: none;
}

.main-content .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    margin: 56px 0px;
}

.info-item h1 {
    color: var(--dark-blue);
    font-size: 4.8rem;
    font-weight: bold;
    line-height: 56px;
}

.info-item span {
    color: var(--grey);
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 26px;
}

footer .recommendation-box {
    background-color: var(--dark-blue);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 748px;
    margin-top: 170px;
}

.recommendation-box-left {
    height: 100%;
    position: relative;
}

footer .pattern-blur {
    max-width: 280px;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 140px);
}

footer .image-jeremy {
    max-width: 252px;
    position: absolute;
    bottom: 55px;
    left: calc(50% - 126px);
}

footer .image-jeremy-desktop {
    display: none;
}

.pattern-footer {
    max-width: 50px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.recommendation-box-right {
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

footer h1 {
    color: var(--cream);
    font-size: 4.0rem;
    font-weight: 400;
}

footer h1 span {
    font-weight: bold;
}

footer p {
    color: var(--cream);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 32px;
}

footer .span-jeremy {
    color: var(--cream-white);
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 32px;
}

footer .span-cmo {
    color: var(--cream);
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 26px;
}

footer .spans-jeremy-cmo {
    padding-bottom: 64px;
}

.nav-footer {
    background-color: var(--cream);
}

.nav-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 33px;
}

.nav-inner .logo-footer {
    margin-top: 56px;
}

.nav-inner span {
    color: var(--grey);
    font-size: 1.5rem;
    font-weight: 400;
}

.icons-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 25px;
    margin-bottom: 76px;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    .heading-container {
        position: relative;
        display: block;
    }

    .navbar {
        padding-bottom: 60px;
        padding-left: 0;
        padding-right: 0;
    }

    .pattern-main {
        max-width: 230px;
        bottom: 128px;
        left: 233px;
    }

    .heading-l {
        font-size: 5.6rem;
        margin-top: 84px;
        margin-bottom: 40px;
        line-height: 64px;
    }

    .main-description {
        margin-bottom: 40px;
    }

    .main-hero {
        display: none;
    }

    .main-hero-tablet {
        display: block;
        position: absolute;
        max-width: 280px;
        bottom: 0px;
        right: 10%;
        z-index: -1;
    }

    .main-content .infos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        gap: 120px;
        margin-bottom: 237px;
    }

    footer .recommendation-box {
        margin-left: 40px;
        margin-right: 40px;
    }

    .nav-inner {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-top: 72px;
        padding-bottom: 72px;
    }

    .nav-inner .logo-footer {
        margin-top: 0px;
    }

    .icons-footer {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1100px) {
    .container {
        max-width: 1100px;
    }

    .navbar {
        padding-bottom: 170px;
    }

    .heading-l {
        font-size: 7.2rem;
    }

    .main-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
    }

    .pattern-main {
        max-width: 280px;
        bottom: 149px;
        left: 304px;
    }

    .main-hero-tablet  {
        display: none;
    }

    .main-hero-desktop {
        display: block;
        position: absolute;
        max-width: 350px;
        bottom: 0;
        right: -10%;
        z-index: -1;
    }

    .main-content .infos {
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 60px;
        margin-right: 32px;
    }

    footer .recommendation-box {
        flex-direction: row;
        height: 545px;
    }

    .recommendation-box-left {
        width: 50%;
    }

    .recommendation-box-right {
        width: 50%;
        text-align: left;
    }

    footer .pattern-blur {
        max-width: 520px;
        bottom: 0px;
        left: calc(50% - 260px);
    }

    footer .image-jeremy {
        display: none;
    }

    footer .image-jeremy-desktop {
        display: block;
        position: absolute;
        max-width: 375px;
        left: calc(50% - 187px);
        bottom: 0px;
    }

    .pattern-footer {
        max-width: 65px;
        margin-left: 53px;
        margin-right: 53px;
    }

    .nav-footer {
        padding-top: 95px;
        padding-bottom: 72px;
    }
}